$red: #e50000;
$green: rgb(102, 187, 106);
$orange: #ff8811;
$orangeHover: rgb(236, 124, 12);

$lightYellow: #f4d06f;
$yellowMedium: rgb(255, 190, 51);
$lightBlue: #9dd9d2;
$lightGrey: rgb(250, 250, 250);
$lightOrange: #fff8f0;
$lightPurple: #392f5a;

$smallMargin: 2em;
