$red: #e50000;
$green: rgb(102, 187, 106);
$orange: rgb(255, 136, 17);
$lightYellow: rgb(245, 217, 143);
$yellowMedium: rgb(255, 190, 51);
$lightBlue: rgb(157, 217, 210);
$lightGrey: rgb(250, 250, 250);
$lightOrange: rgb(255, 248, 240);
